{% extends 'base.html.twig' %}

{% block title %}{{ job.title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h2>{{ job.title }}</h2>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <p><strong>Position:</strong> {{ job.position }}</p>
                                <p><strong>Company ID:</strong> {{ job.companyId }}</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Location:</strong> {{ job.location }}</p>
                                <p><strong>Posted:</strong> {{ job.postedDate|date('F j, Y') }}</p>
                            </div>
                        </div>
                        
                        <h5>Job Description:</h5>
                        <div class="border p-3 mb-4">{{ job.description }}</div>
                        
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_jobs_all') }}" class="btn btn-secondary">
                                Back to All Jobs
                            </a>
                            <a href="{{ path('app_job_apply', {'id': job.id}) }}" class="btn btn-primary">
                                Apply for this Job
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}